* {
  background-color: rgb(34, 34, 34);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
}

img {
  width: 700px;
  height: auto;
}

.title {
  padding: 10px;
  font-weight: bolder;
  font-size: 40px;
  background-color: rgb(255, 250, 244);
  color: black;
}

.description {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}

.ingredients,
.steps {
  padding: 5px;
  font-weight: bolder;
  font-size: 30px;
  background-color: rgb(255, 250, 244);
  color: black;
}

.back-to-home {
  font-size: 25px;
  font-weight: bolder;
}

.list {
  font-size: 28px;
  font-weight: 800;
}